/target/
/.settings/
/.classpath
/.gitignore
/.settings/org.eclipse.jdt.core.prefs
/target/classes/META-INF/MANIFEST.MF
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/test-output
